body {
    background: #e8e8e8;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.details .name {
    margin-bottom: 0.7em;
    text-align: center;
}

.details .image {
    margin-bottom: 1em;
    height: 290px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.details .status {
    margin-bottom: 1em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid darkslategray;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
